[submodule "lib/backbone"]
	path = lib/backbone
	url = https://github.com/documentcloud/backbone
[submodule "lib/underscore"]
	path = lib/underscore
	url = https://github.com/documentcloud/underscore
